.navbar {
  position: absolute;
  top: 10vh;
  right: 0;
  padding: 0;
}

.burger {
  margin-right: 20px;
}

.burger div {
  background-color: rgba(62, 63, 59, 0.8);
  height: 4px;
  border-radius: 1px;
  margin-top: 2px;
  animation: navLinks 1s reverse;
}

.line1 {
  width: 40px;
}

.line2 {
  margin-left: 10px !important;
  right: 0;
  width: 30px;
}

.nav-items {
  background-color: rgba(62, 63, 59, 0.4);
  position: absolute;
  top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 85vh;
  width: 50vw;
  right: 0;
  transform: translateX(100%);
  color: var(--text-color);
}

.nav-items li {
  list-style: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  animation: navLinks 2s linear;
  animation-fill-mode: forwards;
  /* animation-duration: 5s; */
}

.nav-items li:hover {
  color: rgba(62, 63, 59, 1);
  animation: FadeIn 1s linear;
}

.burger-active>* {
  transition: visibility 0.1s, transform 0.2s;
}

.burger-active .line1 {
  transform: rotate(-45deg) scaleX(0.75) translate(-5px, 2px);
}

.burger-active .line2 {
  transform: rotate(45deg) translate(-5px, 2px);
}

.show-navbar {
  transition: transform 1s ease;
  transform: translateX(0) !important;
}

.active {
  color: rgba(232, 232, 232, 1);
}

@keyframes navLinks {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes FadeIn {
  85% {
    transform: scaleX(1.2);
  }

  100% {
    transform: scaleX(1);
  }

}
