@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
  --background: #F7F7F7;
  --text-color: rgb(62, 63, 59);
  --text-color-hover: rgb(42, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

